<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Question 6-->
    <bean id="teaRestaurantByName" class="com.coreSpring2.Restaurant" autowire="byName">
        <!-- <property name="hotDrink" ref="hotDrink"/>-->
    </bean>

    <bean id="teaRestaurantByType" class="com.coreSpring2.Restaurant" autowire="byType">
        <!-- <property name="hotDrink" ref="hotDrink"/>-->
    </bean>

    <bean id="teaRestaurantConstructor" class="com.coreSpring2.Restaurant" autowire="constructor">
        <!-- <constructor-arg name="hotDrink" ref="hotDrink"/>-->
    </bean>

    <bean id="hotDrink" class="com.coreSpring2.Tea"/>



    <!--Question 7-->

    <bean id="teaRestaurant1" class="com.coreSpring2.Restaurant" scope="prototype">
         <property name="hotDrink" ref="hotDrink"/>
    </bean>


</beans>